.avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
}
.avatar {
  position: relative;
  height: 60px;
}

.item p {
  color: #17a2b8;
}
.item {
  cursor: pointer;
  padding: 15px 10px;
  border-bottom: 1px solid #403f3f;
}
.selected {
  background-color: red;
}
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 0 0 0 15px;
}
